[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
streamlit-extras = "*"

[dev-packages]

[requires]
python_version = "3.10"
